<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>$(AGENT_ISLAND_DISPLAY_NAME)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>AgentIslandCloudKitContainerIdentifier</key>
    <string>$(AGENT_ISLAND_ICLOUD_CONTAINER_ID)</string>
    <key>AgentIslandCloudKitRecordName</key>
    <string>$(AGENT_ISLAND_CLOUDKIT_RECORD_NAME)</string>
    <key>AgentIslandCloudKitRecordType</key>
    <string>$(AGENT_ISLAND_CLOUDKIT_RECORD_TYPE)</string>
    <key>AgentIslandCloudKitPayloadField</key>
    <string>$(AGENT_ISLAND_CLOUDKIT_PAYLOAD_FIELD)</string>
    <key>AgentIslandPrivacyPolicyURL</key>
    <string>$(AGENT_ISLAND_PRIVACY_POLICY_URL)</string>
    <key>AgentIslandSupportURL</key>
    <string>$(AGENT_ISLAND_SUPPORT_URL)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>agentisland</string>
            </array>
        </dict>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>NSSupportsLiveActivitiesFrequentUpdates</key>
    <false/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
